body{
	margin: auto;
}
.container{
    width: 50%;
    margin: 0 auto;
}
div.main{
    width: 400px;
    padding: 20px 50px 50px 50px;
    margin-top: 15px;
	background-color: white;
	border-radius: 8px;
}
td{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
div.header{
	padding: 5px;
	background-color: #049DBF;
	color: white;
	border-radius: 8px;
	font-size: 14px;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
}
h3{
	text-align: center;
	color: #049DBF;
}
input[type=text]{
	width: 100%;
	height: 25px;
}
input{
	background-color: #DEE1FF;
	border-style: inset;
	border-radius: 8px;
}
textarea{
	background-color:#DEE1FF;
	border:2px inset #DEE1FF;
	border-radius: 8px;
}
select{
	background-color:#DEE1FF;
	border:2px inset #DEE1FF;
	border-radius: 8px;
}
button{
	margin-left: 10px;
	margin-top: 15px;
	float: right;
	width: 20%;
	height:30px;
	background-color: #049DBF;
	border: none;
	color : white;
	border-radius: 8px;
}
hr{
	border: 2px dashed gray;
}
div.container{
	width: 100%;
	padding-left : 200px; /*arak dari kiri*/
	font-family: Verdana, Geneva, sans-serif;
}
table, th, td{
	padding: 10px;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
}
th{
	background-color: #049DBF;
	color: white;
}
a{
	background-color: #049DBF;
	padding: 5px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
}
a:hover{
	background-color: grey;
}